/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.bg-component {
    background-image: url("/assets/background_page.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    opacity: .6;
}

@import '@angular/material/prebuilt-themes/purple-green.css';